.view-recipes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/view.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}
.sort {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.sort > div {
  padding: 4px;
  backdrop-filter: blur(2px);
}

.view-recipes .css-1qzevvg {
  width: 40%;
  cursor: pointer;
}
.sort .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: transparent !important;
}
.MuiPopover-root .MuiMenu-paper {
  background-color: transparent !important;
  color: antiquewhite;
  backdrop-filter: blur(10px);
}

.loading-icon {
  display: flex;
  align-items: center;
}
.no-data {
  color: white;
  font-size: 5rem;
  align-items: center;
}
