.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/addRecipeCover.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}
.recipe-box {
  max-width: 75rem;
  min-width: 40rem;

  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  color: white;
  margin-right: 22%;
}
form > div {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}
.recipe-head {
  font-size: larger;
  font-weight: bold;
}
.recipe-box input,
textarea:focus {
  outline: 0;
}
textarea::placeholder {
  color: #fff;
}
.ingredient-box {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  align-items: flex-start;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.ingredient-table-text {
  word-break: break-all;
}
