.recipe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;  
}
.recipe-box{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
form>div{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}
.recipe-head{
    font-size: larger;
    font-weight: bold;
}
.recipe-box input,textarea:focus{
    outline: 0;

}