@import '@fontsource/prata/400.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.recipe-template {
  height: 10rem;
  display: flex;
  align-items: center;
}

.recipe-template label {
  padding: 5px;
  width: 6rem;
  font-weight: bolder;
}
.ingredient {
  border: 1px solid black;
  padding: 3px;
  border-radius: 8px;
  background: #d1d1e0;
  margin: 0 2px 0 2px;
}

.image {
  min-width: 20rem;
  height: 14rem;
  cursor: pointer;
}
.recipe-template__details {
  max-width: 16rem;
  width: 100%;
  margin-top: -2rem;
  background-color: rgb(241, 240, 240);
  box-shadow: -2px 13px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
.instruction {
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-family: 'Josefin Sans', cursive;
}
.recipe-template__heading {
  font-family: 'Prata' !important;
  font-size: 1.25rem !important;
  font-weight: bolder !important;
}
.recipe-template__category {
  font-family: 'Prata' !important;
}
.css-1fzpoyk img {
  object-fit: cover !important;
}
